# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# Environments
.env
venv/
env/
ENV/
.venv/
ENV.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.swp

# Migrations
*/migrations/*

# Static files
staticfiles/

# Coverage reports
htmlcov/
.coverage
.tox/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/